.PLO {
margin:auto; width:510px; line-height:normal;
}
.PLO a {
text-decoration:none !important;
}
.topPLO {
margin:auto; width:495px;
}
.ftPLO {
display:inline-block; vertical-align:top; margin-right:10px; 
width:250px; height:100px; 
}
.ftPLO img {
width:250px; height:100px; 
}
.ftPLO p {
position:absolute; z-index:2; 
width:175px; margin-left:25px; margin-top:30px; padding:10px; 
text-align:center; font-size:11px; font-family:"Bebas Neue";
opacity:0; transition:opacity 0.65s ease; -webkit-transition:opacity 0.65s ease;
}
.ftPLO:hover p{
opacity:1;
}
.tlePLO {
display:inline-block; vertical-align:top; 
width:225px; height:90px; padding:5px; overflow:hidden; 
text-transform:uppercase; font-family:"Bebas Neue"; font-size:20px; text-align:center;
}
.tlePLO span {
display:inline-block; vertical-align:middle;
}
.tlePLO span:nth-of-type(1) {
height:90px;
}
#msgPLO {
margin:10px auto; width:495px; 
}
.msgPLO {
margin:auto; width:390px; padding:10px; border-left:0px solid; border-right:0px solid; 
text-align:justify; font-size:12px; font-family:Lucida Grande;
}
#msgPLO2 {
margin:10px auto; width:495px; 
}
.msgPLO2 {
margin:auto; width:390px; padding:10px; border-left:0px solid; border-right:0px solid; 
text-align:center; font-size:18px; font-family:"Bebas Neue";
}
.btmPLO {
width:510px; text-align:center;
}
.btmPLO div {
display:inline-block; margin:0 5px; width:53px; height:15px; 
}
.cdtPLO {
position:absolute; z-index:3; margin-left:-5px; margin-top:35px;
transform:scale(0); -webkit-transform:scale(0); transition:transform ease 0.65s; -webkit-transition:-webkit-transform ease 0.65s;
}
.PLO:hover .cdtPLO {
transform:scale(1); -webkit-transform:scale(1);
}

/* CONFLIT */
.PLOII {
margin:auto; width:510px; line-height:normal;
}
.PLOII a {
text-decoration:none !important;
}
.topPLOII {
margin:auto; width:495px;
}
.ftPLOII {
display:inline-block; vertical-align:top; margin-right:10px; 
width:250px; height:100px; 
}
.ftPLOII img {
width:250px; height:100px; 
}
.ftPLOII p {
position:absolute; z-index:2; 
width:175px; margin-left:25px; margin-top:30px; padding:10px; 
text-align:center; font-size:11px; font-family:"Bebas Neue";
opacity:0; transition:opacity 0.65s ease; -webkit-transition:opacity 0.65s ease;
}
.ftPLOII:hover p{
opacity:1;
}
.tlePLOII {
display:inline-block; vertical-align:top; 
width:225px; height:90px; padding:5px; overflow:hidden; 
text-transform:uppercase; font-family:"Bebas Neue"; font-size:20px; text-align:center;
}
.tlePLOII span {
display:inline-block; vertical-align:middle;
}
.tlePLOII span:nth-of-type(1) {
height:90px;
}
#msgPLOII {
margin:10px auto; width:495px; 
}
.msgPLOII {
margin:auto; width:390px; padding:10px; border-left:0px solid; border-right:0px solid; 
text-align:justify; font-size:12px; font-family:Lucida Grande;
}
.btmPLOII {
width:510px; text-align:center;
}
.btmPLOII div {
display:inline-block; margin:0 5px; width:53px; height:15px; 
}
.cdtPLOII {
position:absolute; z-index:3; margin-left:-5px; margin-top:35px;
transform:scale(0); -webkit-transform:scale(0); transition:transform ease 0.65s; -webkit-transition:-webkit-transform ease 0.65s;
}
.PLOII:hover .cdtPLOII {
transform:scale(1); -webkit-transform:scale(1);
}


